.hero .hero-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  padding: 20px 0px;
  transition: all 100ms ease-in-out;
}

.hero .hero-head.scrolled{
  background-color: rgba(255,255,255,0.2);
  padding: 0px;
}

.hero.is-primary .nav{
  box-shadow: none;
}

.banner-logo{
  padding-left: 10px;
}

.banner-img{
  background-image: url("../images/banner-img.jpeg");
  background-size: cover;
  background-position: center;
}